	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-circle"></i>
					<span><%= title %></span>
				</div>

				<div class="no-move"></div>
			</div>
			<div class="box-content">
				<div id="<%= idElement %>" class="<%= classeElement %>"></div>
			</div>
		</div>
    </div>
  <link rel="stylesheet" href="/morris/morris.css">
  <script src="/morris/morris.min.js"></script>
  <link rel="stylesheet" href="/jquery-ui/jquery-ui.css">
  <script src="/js/jquery-1.12.4.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="js/helper.js"></script>
  <link rel="stylesheet" href="/css/grapheStyle.css">

  <script>

    function round(value, decimals) {

      return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
    }
    function lineMorris(idElement, titre, data, data2){
      var dataConvert = [];


      //convertir les donnees
      for(var key in data){
        var prod = data[key] - data2[key];
        dataConvert.push({matricule : key, duree : round(data[key],2), horsProd : round(data2[key],2), prod : round(prod,2)});
      }

      new Morris.Bar({
        // ID of the element in which to draw the chart.
        element: idElement,
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: dataConvert,
        // The name of the data record attribute that contains x-values.
        xkey: 'matricule',
        // A list of names of data record attributes that contain y-values.
        ykeys: ['duree','horsProd','prod'],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['duree','hors production','production']
      });
    }
  </script>
    <script>
		$(document).ready(function() {
			var donnee = {};
			var donnee2 = {};

			//construction des donnees
			//le format collection du serveur vers format collection coté client
			//array de la forme {clé : value}
			<% 	for(var key in data){%>
				donnee["<%= key%>"] = <%= data[key]%>;
			<% } %>
      <% 	for(var key in data2){%>
      donnee2["<%= key%>"] = <%= data2[key]%>;
      <% } %>

      lineMorris("<%= idElement %>", "<%= titleChart %>", donnee,donnee2);
		});

    </script>
