<div class="col-xs-8 col-sm-8">
  <div class="box">
    <div class="box-header">
      <div class="box-name">
        <i class="fa fa-circle"></i>
        <span><%= title %></span>
      </div>

      <div class="no-move"></div>
    </div>
    <div class="box-content">
      <div id="<%= idElement %>" class="<%= classeElement %>"></div>
    </div>
  </div>
</div>
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="js/helper.js"></script>
<link rel="stylesheet" href="/css/grapheStyle.css">

<script>
  function PieChartHighchart(idElement, titre, data){
    if(ObjectLength(data) > 0){
      var dataConvert = [];

      //convertir les donnees
      for(var key in data){
        dataConvert.push({name : key, y : data[key]});
      }
      //Ajout d'un option data, type, caracteristique,
      var option = {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie'
        },
        title: {
          text: titre
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: false
            },showInLegend: true
          }
          ,series: {
            cursor: 'pointer',
            events: {
              click: function (event) {
                // alert(this.name+':'+this.data );
              }
            }
          }
        },
        series: [{
          name: 'Brands',
          colorByPoint: true,
          data: dataConvert
        }]
      };

      // generer la graphe
      Highcharts.chart(''+idElement, option);
      //$("#" + idElement).highcharts();
    }
  }
</script>
<script>
  $(document).ready(function() {
    var donnee = {};

    //construction des donnees
    //le format collection du serveur vers format collection coté client
    //array de la forme {clé : value}
    <% 	for(var key in data){%>
    donnee["<%= key%>"] = <%= data[key]%>;
    <% } %>

    PieChartHighchart("<%= idElement %>", "<%= titleChart %>", donnee);
  });

</script>
