	<div class="col-xs-12 col-sm-12"> 
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-circle"></i>
					<span><%= title %></span>
				</div>

				<div class="no-move"></div>
			</div>
			<div class="box-content">
				<div id="<%= idElement %>" class="<%= classeElement %>"></div>
			</div>
		</div>
    </div>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="js/helper.js"></script>
  <link rel="stylesheet" href="/css/grapheStyle.css">

  <script>
    function pieGoogle(idElement, titre, data){
      var dataConvert = [];
      function round(value, decimals) {

        return Number(Math.round(val+'e'+decimals)+'e-'+decimals);
      }

      //convertir les donnees
      for(var key in data){
        dataConvert.push([key, round(data[key],2)]);
      }
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]
        ]);

        var options = {
          title: titre
        };

        var chart = new google.visualization.PieChart(document.getElementById(idElement));

        chart.draw(data, options);
      }
    }
  </script>
    <script>
		$(document).ready(function() {
			var donnee = {};

			//construction des donnees
			//le format collection du serveur vers format collection coté client
			//array de la forme {clé : value}
			<% 	for(var key in data){%>
				donnee["<%= key%>"] = <%= data[key]%>;
			<% } %>

      pieGoogle("<%= idElement %>", "<%= titleChart %>", donnee);
		});

    </script>
