<div class="col-xs-12 col-sm-12">
  <div class="box">
    <div class="box-header">
      <div class="box-name">
        <i class="fa fa-circle"></i>
        <span><%= title %></span>
      </div>

      <div class="no-move"></div>
    </div>
    <div class="box-content">
      <div id="<%= idElement %>" class="<%= classeElement %>"></div>
    </div>
  </div>
</div>

<script src="js/helper.js"></script>
<link rel="stylesheet" href="/css/grapheStyle.css">

<script>

  function round(value, decimals) {

    return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
  }


  function stackHigh(idElement, titre){


    var option = {
      chart: {
        type: 'column'
      },
      title: {
        text: 'STAT HEURE OP'
      },
      xAxis: {
        categories: datedeb
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Temps consomé'
        },
        stackLabels: {
          enabled: true,
          style: {
            fontWeight: 'bold',
            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
          }
        }
      },
      legend: {
        align: 'right',
        x: -30,
        verticalAlign: 'top',
        y: 25,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
        borderColor: '#CCC',
        borderWidth: 1,
        shadow: false
      },
      tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y} heurs<br/>Total: {point.stackTotal} heurs'
      },
      plotOptions: {
        column: {
          stacking: 'normal',
          dataLabels: {
            enabled: true,
            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
            style: {
              textShadow: '0 0 3px black'
            }
          }
        }
      },
      series: [{
        name: 'Heure Prod',
        data: heureProd
      }, {
        name: 'Heure Hors Prod',
        data: heureHorsProd
      }]
    };
    Highcharts.chart(idElement,option);
    //$('#'+idElement).highcharts();
  }
</script>
<script>
  $(document).ready(function() {

    stackHigh("<%= idElement %>", "<%= titleChart %>");
  });

</script>
