
  <head>
        <title><%=typeof title == 'undefined' ? 'TDB' : title%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
        <!--STYLES-->
        <link rel="stylesheet" href="/styles/importer.css">
        <link rel="stylesheet" href="/bootflat/css/bootflat.min.css">
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/local.css">
        <link rel="stylesheet" href="/css/Style_v3.css">
        <link rel="stylesheet" href="/morris/morris.css">
        <link rel="stylesheet" href="/css/bootstrap-material-datetimepicker.css">
        
        <!--STYLES END-->
    </head>
    <body>
    <% if(req.session.droit==1){
    
    %>
    <% include ../../../includes/entete.ejs %>
    
    <% }else{
    
    %>
    <% include ../../../includes/enteteOperateur.ejs %>
    
    <% }
    if(create == true){
      %>
      <script>
        alert("Compte rendu sauvegarder");
      </script>
      <%
    }
    %>
    <body>
            <h1 class="tit">Fiche de coaching QUALITE/TECHNICITE </h1>
          
            <div id="page-wrapper">
                <div class="row">
                  <div class="col-md-12">
                    <div class=" row ">
                        <div  class="">
                          <div class="panel panel-primary">
                            <div class="panel-heading">
                              <!-- <h3 class="panel-title"> <i class="fa fa-bar-chart-o"></i> </h3> -->
                              <div class="row">
                                <div class="form-group">
                                    <!-- <div class="col-xs-2 col-md-2 col-lg-2">
                                      <select class="form-control" tabindex="-1" id="equipeDashAdmin" placeholder = "Equipe" name="equipe" >
                                        <option value="1">EQUIPE</option> 
                                      </select>                          
                                    </div> -->
                                    <div class="col-xs-2 col-md-2 col-lg-2">
                                      <!-- <input class="form-control" tabindex="-1" id="datetim" /> -->
                                      <input type="date" id="mois" name="trip-start" value="" min="2021-01-01" max="2100-12-31">
                                    </div>
                                    <div class="col-xs-2 col-md-2 col-lg-2">
                                        <% 
                                        if(manager == true){
                                        %>
                                          <!-- <input type="text" class="form-control" tabindex="-1" id="id_pers" placeholder="Matricule" required/> -->
                                          <select class="form-control" id="id_pers" placeholder = "Matricule" name="Matricule" >
                                              <option value=""></option>
                                              <% 
                                                for (var i = 0 ; i < id_appelation.rowCount; i++){
                                              %>
                                              <option value="<%= id_appelation.rows[i].id_pers %>"><%= id_appelation.rows[i].appelation %> <%= id_appelation.rows[i].id_pers %></option>
                                              <% 
                                                }
                                              %>
                                        </select>
                                        <%
                                        }
                                        else{
                                        %>
                                          <input type="text" class="form-control" tabindex="-1" id="id_pers" placeholder="Matricule" value="<%= id %>" disabled/>
                                         
                                        <%
                                        }
                                        %>

                                      </div>
                                    <div class="col-xs-2 col-md-2 col-lg-2">
            
                                      <button type="submit" style="margin-top:-1px" class="btn btn-info" onclick="suivi_coaching();">Recherche</button>
            
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div id="mois_menu">

                          </div>   
                          <div id="tableau_cr">

                          </div>
            <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
            <script src="chartjs-plugin-datalabels.js"></script>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>  
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>     
            <script src="/js/dependencies/sails.io.js"></script>
            <script src="/js/jquery-1.10.2.min.js"></script>
            <script src="/bootstrap/js/bootstrap.min.js"></script>
            <script src="/material/chart/highcharts.js"></script>
            <script src="/material/chart/exporting.js"></script>
            <script src="/js/dossierEtapeApp.js"></script>
            <script src="/js/jquery-ui.min.js"></script>
            <script src="/js/material-modal.min.js"></script>
            <script src="/js/pikaday.js"></script>
            <script src="/js/neocles/js.js"></script>
          
 </body>