


          <table class="table table-hover">
            <thead>
            <tr>
              <th>Libelle Client</th>
              <th>Libelle Etape</th>
              <th>Nombre doublons etape</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <% resultat.forEach(function(lot){ %>
            <tr data-id=<%= lot.id_lot %> data-model="AlmerysCall">
              <td><%= lot.lib %></td>
              <td><%= lot.libel %></td>
              <td><%= lot.nb %></td>
              <td><%= lot.date %></td>
            </tr>
            <% }) %>
            </tbody>
          </table>
