
<% if(req.session.droit==1){

%>
<% include ../includes/entete.ejs %>
<% }else{

%>
<% include ../includes/enteteOperateur.ejs %>

<% }%>
<div id="page-wrapper">
  <form method="get" action="/getRetardParDepartement">
    <%
    var datech = "";
    if(req.session.datechoice!=null){
      datech = req.session.datechoice;
    }
    %>
  <div class="row">
    <div class="col-xs-2">
      <input class="form-control" type="date" id="datetim" name="datedeb" placeholder="Date" value="<%=datech%>"/>
    </div>
    <div class="col-xs-2">
      <select class="form-control" placeholder="Departement" name="dep">
        <option value="">
          TOUS
        </option>
        <% departement.forEach(function(departement){
          if(parseInt(req.session.dep)==parseInt(departement.id)){
            %>

        <option value="<%= departement.id %>" selected="true">
          <%= departement.libelle %>
        </option>
        <%
          }else{
            %>

        <option value="<%= departement.id %>">
          <%= departement.libelle %>
        </option>
        <%
          }
        %>
        <% }); %>
      </select>
    </div>
    <!--<div class="col-xs-2">
      <input class="form-control" type="text"  name="maticule" placeholder="Matricule"/>
    </div>-->
    <button type="submit" class="btn btn-info btn-md">ok</button>
  </div>
  </form>

  <div class="row">

    <%
    if(isDep==0){
      %>
    <%- partial ('chart/PieChartHighchart.ejs', {idElement : 'idRetardHighchart',classeElement : 'pie_dossier_all', title : 'Repartition retard et abscence (Highchart)', titleChart : 'Highchart' ,data : retard}) %>
    <%- partial ('chart/ColumnHighchart.ejs', {idElement : 'idRetardPDepartement', title : 'Repartition retard et abscence (Highchart)', titleChart : 'Retard', labelY : 'Retard par departement',maxY : 12 ,data : retard}) %>

    <%

    }else{

      var donnee = {
        retard: retardParDepartement ,
        normal: NbDep
      };
      %>
    <%- partial ('chart/donutMorris.ejs', {idElement : 'idRetardHighchart',classeElement : 'pie_retard', title : 'Repartition retard et abscence (Highchart)', titleChart : 'Highchart' ,data : donnee}) %>

    <%- partial ('chart/ColumnHighchart.ejs', {idElement : 'idRetardParDepartement', title : 'Retard(secondes)', titleChart : 'Retard', labelY : 'Retard par departement(s)',maxY : 12 ,data : retardHeurParDepartement}) %>


    <%
    }

      %>







  </div>

</div>

<script src="/jquery-ui/jquery-ui.js"></script>
<link rel="stylesheet" href="/morris.js/morris.css">
<script src="/morris.js/morris.min.js"></script>
<script src="/js/jquery-1.12.4.js"></script>
<link rel="stylesheet" href="/jquery-ui/jquery-ui.css">
<script src="/js/jquery-1.12.4.js"></script>
<script src="/jquery-ui/jquery-ui.js"></script>
<script>
  $(function() {
    $( "#datetim" ).datepicker({
      dateFormat: 'yy/mm/dd'
    });
  } );
</script>



<script>
  //var rows =JSON.stringify(<%-JSON.stringify(departement)%>);
  //alert(rows);
</script>
