

<script>
  var cars = [];
  var prod = [];
  var etape = [];
  var dataetape = [];
  var hprod = [];
  var vitesseb = 0;
  var vitessen = 0;
  var quantite = 0;
  var qualite = 0;


</script>
      <div id="pgbar"></div>
      <table id="datatable-buttons" class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>SPECIALITE</th>
          <th>Volumes recus</th>
          <th>Volumes traités</th>
          <th>Volumes traités(GPAO)</th>
          <th>Stock</th>
          <th>Cadence d'equilibre</th>
          <th>Cadence moyenne</th>
          <th>Objectif</th>
          <th>% ISO</th>
          <th>% global</th>
        </tr>
        </thead>


        <tbody>

        <%
        specialite.forEach(function (row) {
          %>
        <tr>
          <td id=""><%=row.libelle %></td>
          <td id="3<%=row.id_spec %>"></td>
          <td id="2<%=row.id_spec %>"></td>
          <td id="a<%=row.id_spec %>"></td>
          <td id="4<%=row.id_spec %>"></td>
          <td id=""></td>
          <td id="b<%=row.id_spec %>"></td>
          <td id=""></td>
          <td id="1<%=row.id_spec %>"></td>
          <td id="0<%=row.id_spec %>"></td>
        </tr>
        <%
        })

          %>

        </tbody>
      </table>

<script src="/js/jquery-1.12.4.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function() {
    var handleDataTableButtons = function() {
      if ($("#datatable-buttons").length) {
        $("#datatable-buttons").DataTable({
          dom: "Bfrtip",
          destroy:true,
          pageLength: 50,
          buttons: [
            {
              extend: "copy",
              className: "btn-sm"
            },
            {
              extend: "csv",
              className: "btn-sm"
            },
            {
              extend: "excel",
              className: "btn-sm"
            },
            {
              extend: "pdfHtml5",
              className: "btn-sm"
            },
            {
              extend: "print",
              className: "btn-sm"
            },
          ],
          responsive: true
        });
      }
    };

    TableManageButtons = function() {
      "use strict";
      return {
        init: function() {
          handleDataTableButtons();
        }
      };
    }();
    TableManageButtons.init();
    /*$('#datatable').dataTable();
    $('#datatable-keytable').DataTable({
      keys: true
    });*/

    $('#datatable-responsive').DataTable();


    /*var table = $('#datatable-fixed-header').DataTable({
      fixedHeader: true
    });*/


  });


</script>



<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/vendors/nprogress/nprogress.js"></script>


<script src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
<script src="/vendors/jszip/dist/jszip.min.js"></script>
<script src="/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="/vendors/pdfmake/build/vfs_fonts.js"></script>
<script src="/js/custom.min.js"></script>
<script src="/js/progressbar.min.js"></script>
<script>
  var bar = new ProgressBar.Line('#pgbar', {easing: 'easeInOut'});
  bar.animate(0);
</script>
